<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">

</head>

<body>
    <nav>
        <p class="name">
            Service <span class="hub">Hub</span>
        </p>
        <ul>
            <li>Home</li>
            <li>About</li>
            <li>Service</li>
            <li>Booking</li>
        </ul>
        <div class="buttons">
            <a href="/login"><button class="button">Login</button></a> &nbsp;&nbsp;&nbsp;
            <a href="/register"><button class="button">Register</button></a>
        </div>
    </nav>


    <section class="section1">
        <h1 class="hero1"> Book <span class="hub">Trusted </span> Home Services <span class="hub">Instantly</span></h1>
        <p class="hero2">From plumbing to electrical work, get reliable services at your doorstep quickly and easily.
        </p>

        <div class="buttonss">
            <a href="#booking"> <button class="button">Book Now</button> </a> &nbsp;&nbsp;&nbsp;
            <a href="#explore"><button class="button trans">Explore More</button></a>

        </div>


        <div class="pictures">


            <img src="https://www.urbancompany.com/img?bucket=urbanclap-prod&quality=90&format=auto/w_128,dpr_2,fl_progressive:steep,q_auto:low,f_auto,c_limit/images/growth/luminosity/1731504272013-0ef836.jpeg"
                alt="" srcset="" class="shape">
            <img src="https://www.urbancompany.com/img?bucket=urbanclap-prod&quality=90&format=auto/w_128,dpr_2,fl_progressive:steep,q_auto:low,f_auto,c_limit/images/growth/luminosity/1731504274912-f9181e.jpeg"
                alt="" srcset="" class="shape1">
            <img src="https://www.urbancompany.com/img?bucket=urbanclap-prod&quality=90&format=auto/w_128,dpr_2,fl_progressive:steep,q_auto:low,f_auto,c_limit/images/growth/luminosity/1738258951402-e93445.jpeg"
                alt="" srcset="" class="shape2">
            <img src="https://www.urbancompany.com/img?bucket=urbanclap-prod&quality=90&format=auto/w_128,dpr_2,fl_progressive:steep,q_auto:low,f_auto,c_limit/images/growth/luminosity/1738258955021-96e8b0.jpeg"
                alt="" srcset="" class="shape3">



            <img src="https://www.urbancompany.com/img?bucket=urbanclap-prod&quality=90&format=auto/w_128,dpr_2,fl_progressive:steep,q_auto:low,f_auto,c_limit/images/growth/home-screen/1677519626723-82ff21.jpeg"
                alt="" srcset="" class="shape2">

            <img src="https://www.urbancompany.com/img?bucket=urbanclap-prod&quality=90&format=auto/w_128,dpr_2,fl_progressive:steep,q_auto:low,f_auto,c_limit/images/supply/customer-app-supply/1770722111037-b40df8.jpeg"
                alt="" srcset="" class="shape1">
            <img src="https://www.urbancompany.com/img?bucket=urbanclap-prod&quality=90&format=auto/w_128,dpr_2,fl_progressive:steep,q_auto:low,f_auto,c_limit/images/growth/luminosity/1738258955021-96e8b0.jpeg"
                alt="" srcset="" class="shape">
        </div>
        </div>

    </section>



    <section class="section2">

        <h1 class="about1">Why <span class="hub">ServiceHub?</span></h1>

        <div class="flex gap">

            <div class="images">
                <img src="https://www.urbancompany.com/img?quality=90&format=auto/dpr_2,fl_progressive:steep,q_auto:low,f_auto,c_limit/images/growth/home-screen/1696852847761-574450.jpeg"
                    alt="" srcset="" class="resize">
            </div>

            <div class="about2">
                <p>ServiceHub is a modern service booking platform designed to connect users with essential home
                    services in a quick and efficient way. From booking to completion, the system ensures transparency
                    and ease of use. With features like real-time status updates and an admin-controlled dashboard,
                    ServiceHub simplifies the entire service management process.</p>



                <div class="stats flex gap">
                    <div class="a">
                        <h3>100+</h3>
                        <p class="small">Booking</p>
                    </div>


                    <div class="a">
                        <h3 class="shift1">50+</h3>
                        <p class="small">Happy customers</p>
                    </div>

                    <div class="a">
                        <h3 class="shift">5+</h3>
                        <p class="small">Services</p>
                    </div>

                    <div class="a">
                        <h3>24/7</h3>
                        <p class="small">Support</p>
                    </div>

                    <div class="a">
                        <h3 class="shift3">150+</h3>
                        <p class="small">Services Provided</p>
                    </div>

                    <div class="a">
                        <h3 class="shift1">50+</h3>
                        <p class="small">Skilled workers</p>
                    </div>




                </div>

                <div class="explore">
                    <a href="#booking"><button class="button">Book Now</button></a>

                </div>




            </div>

        </div>


    </section>



    <section class="section3">

        <h1 class="offer"> <span class="hub"> What</span> We Offer</h1>

        <div class=" features flex gap">

            <div class="1">
                <h1 class="big">01</h1>
                <p>Book services quickly with a simple and user-friendly interface.</p>
            </div>
            <div class="1">
                <h1 class="big">02</h1>
                <p>Choose from a variety of services like plumbing, electrical, cleaning, and more.</p>
            </div>


            <div class="1">
                <h1 class="big">03</h1>
                <p>Track your service status from booking to completion.</p>
            </div>





        </div> <br> <br> <br>


        <div class="  f flex gap">

            <div class="1">
                <h1 class="big">04</h1>
                <p>Your data and bookings are safe and securely managed.</p>
            </div>
            <div class="1">
                <h1 class="big">05</h1>
                <p>Choose from a variety of services like plumbing, electrical, cleaning, and more.</p>
            </div>


            <div class="1">
                <h1 class="big">06</h1>
                <p>Track your service status from booking to completion.</p>
            </div>





        </div>


    </section>

    <section class="section4" id="explore">

        <h1 class="ser">Explore Our <span class="hub">Service</span></h1>

        <div class="servicesss flex gap4">

            <div class="box">
                <div class="im">
                    <img src="https://www.urbancompany.com/img?bucket=urbanclap-prod&quality=90&format=auto/w_128,dpr_2,fl_progressive:steep,q_auto:low,f_auto,c_limit/images/growth/home-screen/1677519626723-82ff21.jpeg"
                        alt="" srcset=""> <br>
                    <h3>Hair Cut</h3><br>
                    <p>Enjoy a fresh and stylish haircut from skilled professionals, tailored to your look and comfort.
                    </p> <br>
                    <button class="button">Book Now</button>

                </div>
            </div>


            <div class="box">
                <div class="im">
                    <img src="https://www.urbancompany.com/img?bucket=urbanclap-prod&quality=90&format=auto/w_128,dpr_2,fl_progressive:steep,q_auto:low,f_auto,c_limit/images/supply/customer-app-supply/1750094373282-58f431.jpeg"
                        alt="" srcset=""> <br>
                    <h3>Cleaning</h3><br>
                    <p>Enjoy a fresh and stylish haircut from skilled professionals, tailored to your look and comfort.
                    </p> <br>
                    <button class="button">Book Now</button>

                </div>
            </div>


            <div class="box">
                <div class="im">
                    <img src="https://www.urbancompany.com/img?bucket=urbanclap-prod&quality=90&format=auto/w_128,dpr_2,fl_progressive:steep,q_auto:low,f_auto,c_limit/images/growth/luminosity/1731504272013-0ef836.jpeg"
                        alt="" srcset=""> <br>
                    <h3>Pest Control</h3><br>
                    <p>Enjoy a fresh and stylish haircut from skilled professionals, tailored to your look and comfort.
                    </p> <br>
                    <button class="button">Book Now</button>

                </div>
            </div>


            <div class="box">
                <div class="im">
                    <img src="https://www.urbancompany.com/img?bucket=urbanclap-prod&quality=90&format=auto/w_128,dpr_2,fl_progressive:steep,q_auto:low,f_auto,c_limit/images/growth/luminosity/1738258955021-96e8b0.jpeg"
                        alt="" srcset=""> <br>
                    <h3>Furniture</h3><br>
                    <p>Enjoy a fresh and stylish haircut from skilled professionals, tailored to your look and comfort.
                    </p><br>
                    <button class="button">Book Now</button>

                </div>
            </div>

        </div>


        <div class="servicesss flex gap4">

            <div class="box">
                <div class="im">
                    <img src="https://www.urbancompany.com/img?bucket=urbanclap-prod&quality=90&format=auto/w_128,dpr_2,fl_progressive:steep,q_auto:low,f_auto,c_limit/images/growth/luminosity/1729750039821-0126d6.jpeg"
                        alt="" srcset=""> <br>
                    <h3>Massage</h3><br>
                    <p>Enjoy a fresh and stylish haircut from skilled professionals, tailored to your look and comfort.
                    </p> <br>
                    <button class="button">Book Now</button>

                </div>
            </div>


            <div class="box">
                <div class="im">
                    <img src="https://www.urbancompany.com/img?bucket=urbanclap-prod&quality=90&format=auto/w_128,dpr_2,fl_progressive:steep,q_auto:low,f_auto,c_limit/images/supply/customer-app-supply/1750094380396-2658f1.jpeg"
                        alt="" srcset=""> <br>
                    <h3> Fan Cleaning</h3><br>
                    <p>Enjoy a fresh and stylish haircut from skilled professionals, tailored to your look and comfort.
                    </p> <br>
                    <button class="button">Book Now</button>

                </div>
            </div>


            <div class="box">
                <div class="im">
                    <img src="https://www.urbancompany.com/img?bucket=urbanclap-prod&quality=90&format=auto/w_128,dpr_2,fl_progressive:steep,q_auto:low,f_auto,c_limit/images/supply/customer-app-supply/1750094387199-295832.jpeg"
                        alt="" srcset=""> <br>
                    <h3>Door Cleaning</h3><br>
                    <p>Enjoy a fresh and stylish haircut from skilled professionals, tailored to your look and comfort.
                    </p> <br>
                    <button class="button">Book Now</button>

                </div>
            </div>


            <div class="box">
                <div class="im">
                    <img src="https://www.urbancompany.com/img?bucket=urbanclap-prod&quality=90&format=auto/w_128,dpr_2,fl_progressive:steep,q_auto:low,f_auto,c_limit/images/supply/customer-app-supply/1750094414625-9184ae.jpeg"
                        alt="" srcset=""> <br>
                    <h3>Balcony Claening</h3><br>
                    <p>Enjoy a fresh and stylish haircut from skilled professionals, tailored to your look and comfort.
                    </p><br>
                    <button class="button">Book Now</button>

                </div>
            </div>
        </div>


    </section>

    <section class="section5" id="booking">
        <h1 class="form">Book Your <span class="hub">Service</span> Now</h1>

        <div class="flex top  gap">

            <div class="imgg">
                <img src="https://www.urbancompany.com/img?quality=90&format=auto/dpr_2,fl_progressive:steep,q_auto:low,f_auto,c_limit/images/growth/home-screen/1696852847761-574450.jpeg"
                    alt="" srcset="" class="resize">

            </div>

            <div class="formm">
                <form action="/booking" method="post">

                <input type="text" placeholder="Name" name="name" > <br> 

                <input type="email" name="email" id="" placeholder="Email"> <br>

                <select name="service" id="" class="design">
                    <option>Plumber</option>
                    <option>Cleanier</option>
                    <option>Haircut</option>
                    <option>Massage</option>
                    <option>Electonics</option>
                </select> <br>

                <input type="date" name="date" id=""> <br>

                <input type="time" name="time" id=""> <br>
<!-- 
                <textarea id="" cols="20" rows="10" name="addres" placeholder="Addres"></textarea> <br> -->

                <input type="submit" value="submit" class="submit">

</form>
            </div>

        </div>

    </section>


    <footer class="footer">
        <h1 class="ml">Service Hub</h1>

        <div class="flex gap14 ml">

            <div class="f1">
                <h3>Company</h3> <br>
                <p>About us </p>
                <p>Investor Relations </p>
                <p>Terms & conditions </p>
                <p>Privacy policy </p>
                <p>Careers </p>
            </div>



            <div class="f1">
                <h3> For Customers</h3> <br>
                <p>Uc Reviews </p>
                <p>Categories near you </p>
                <p>Contact us </p>

            </div>



            <div class="f1">
                <h3>Links</h3> <br>
                <p>Home </p>
                <p>About </p>
                <p>Service </p>
                <p>Bookings </p>

            </div>

            <div class="f1">
                <h3>For Professional</h3> <br>
                <p>Register as a professional </p>

            </div>


            <div class="f1">
                <h3> Social Links</h3> <br>
                <p>Whatsapp </p>
                <p>Facebook </p>
                <p>Instagram </p>
                <p>Twitter </p>

            </div>



        </div> <br><br>

        <hr>

        <p class="copy">© Copyright 2026 All rights reserved. </p>


    </footer>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.13.0/gsap.min.js"
    integrity="sha512-NcZdtrT77bJr4STcmsGAESr06BYGE8woZdSdEgqnpyqac7sugNO+Tr4bGwGF3MsnEkGKhU2KL2xh6Ec+BqsaHA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.13.0/ScrollTrigger.min.js"
    integrity="sha512-P2IDYZfqSwjcSjX0BKeNhwRUH8zRPGlgcWl5n6gBLzdi4Y5/0O4zaXrtO4K9TZK6Hn1BenYpKowuCavNandERg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/stylesheets/script.js"></script>

</html>