<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>

    <div class="boxx">
        <div class="lef">
            <h1>Create Your Account</h1> <br>
        </div>
        
        <form action="/create" method="post">

            <h4> Name</h4>
            <br>
            <input type="text"  id="" class="login" placeholder="Enter Your Email"  name="name"> <br> <br>

            <h4>Surname</h4> <br>
            <input type="text"  id="" class="login" placeholder="Enter Your Password" name="surname"> <br><br>

            <h4>Email</h4> <br>
            <input type="email"  id="" class="login" placeholder="Enter Your Password" name="email"> <br><br>

            <h4>Password</h4> <br>
            <input type="password"  id="" class="login" placeholder="Enter Your Password"  name="password"> <br><br>

           <h4>Role </h4><br>
            <select name="role">
                <option>User</option>
                <option>Admin</option>
            </select> <br><br>

            <input type="submit" value="Create" class="submit">

        </form>

    </div>

</body>

</html>